.about-section {
    height: auto;
    margin: 25px 0;
}

.about {
    display: flex;
    justify-content: space-between;
}

.about > *{
    width: 50%;
}

.custom-list {
    list-style: none;
    counter-reset: item;
    padding: 0;
}

.custom-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    color: var(--white); 
    line-height: 1.5;
}

.custom-list li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 35px;
    background: url('../../assets/images/list.svg') no-repeat center center;
    background-size: contain;
}

.custom-list .first-item:before {
    background: url('../../assets/images/list_top.svg') no-repeat center center;
    background-size: contain;
}

.custom-list .last-item:before {
    background: url('../../assets/images/list_bottom.svg') no-repeat center center;
    background-size: contain;
}
.about__left {
    position: relative;
}
.about__left > img {
    z-index: -1;
    position: absolute;
    top: 110px;
    left: -55px;
    max-width: 400px;
}

.about__left--text {
    width: 70%;
}

.contact__right--map > iframe {
    width: 100% ;
}