.cases {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    flex-wrap: wrap;
}

.case {
    width: calc(33.33% - 15px); /* 33.33% width for each column with 15px gap in between */
    box-sizing: border-box;
}

.case__img {
    height: 350px;
    border-radius: 30.333px;
    background: var(--white);
    position: relative;
    object-fit: cover;
    border: none;
}

.case__img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30.333px;
    border: none;
}

.case > button {
    width: 100%;
    cursor: pointer;
}

.case__subtitle {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.case__subtitle::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background: var(--primary);
}
