.navbar {
    z-index: 500;
    position: fixed;
    width: 100%;
    background-color: var(--bg-shade);
}

.nav {
    padding: 14.333px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--line-grey);
    z-index: 5000;
}

.nav__logo img{
    max-width: 150px;
}

.nav__items {
    display: flex;
    gap: 25px;
}

.active{
    color: #d73232;    
}