.newsgreed-section {
    padding: 100px 0;
}

.newspage-section {
    padding: 100px 0;
}

.newsgreed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;

    justify-items: center;
    gap: 50px;
}

.newsgreed__card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.newsgreed__card--img {
    height: 300px;
}

.newsgreed__card-button {
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    border: none;
}

.newsgreed__card-button > img {
    border-radius: 30.333px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s ease;
}

.newsgreed__card-button > img:hover {
    transform: scale(1.02);
}
.newsgreed__card--sub p {
    color: #8d8d8d;
}

.newsgreed__card--sub a {
    font-size: 28px;
    padding-bottom: 5px;
}

.newsgreed__card--sub > a:hover {
    color: var(--white);
}

.news__img {
    position: relative;
    width: 100%;
    height: 300px;
}

.news {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.news__img > img {
    border-radius: 30.333px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}